h1 {
    border: 2px #eee solid;
    color: ghostwhite;
    text-align: center;
    padding: 10px;
    font-style: Serif;
   
}

body {
    background-color: rgb(18, 208, 241);

}h1 {
    border: 2px #eee solid;
    color: ghostwhite;
    text-align: center;
    padding: 10px;
    font-style: Serif;
   
}

body {
    background-color: rgb(18, 208, 241);

}